<div class="content">
    <h1>Cinemahall</h1>
    <form 
    #myForm="ngForm"
    (ngSubmit)="submitForm()"
    >
        <mat-form-field appearance="fill">
            <mat-label>SeatRowId: </mat-label>
            <input name="SeatRowId" [(ngModel)]="currSeatRowId" required 
            min=0 [max]="seatRows?.length" type="number" matInput
            (keyup)="rowChange($event)">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>RowCategory: </mat-label>
            <select matNativeControl  name="RowCategory" [(ngModel)]="currCatId" required>
                <option *ngFor="let x of categories" [value]="x.categoryId">{{x.price}}</option>
            </select>
        </mat-form-field>
        <br>
    <button type="submit" mat-flat-button color="accent">Save</button>
    </form>
    <button mat-flat-button color="accent"  (click)="backClicked()">Back</button>
    <button mat-flat-button color="accent" (click)="deleteClicked()">Delete</button>
    <br>
    <br>
    <div>
        <mat-label>Seatcount: </mat-label>
        <mat-label name="Seatcount">{{currentSeatAmount}}/Row</mat-label>
    </div>
    <br>
    <button mat-flat-button color="accent"  (click)="addSeat()">AddSeat</button>
    <button mat-flat-button color="accent"  (click)="removeSeat()">RemoveSeat</button>
</div>